# 依赖目录
node_modules/
dist/
.vite/

# 环境变量
.env.local
.env.*.local

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/编辑器
.idea/
.vscode/
*.iml
workspace.xml

# 系统文件
.DS_Store
Thumbs.db
.idea/workspace.xml
shop-management/target/
.idea/workspace.xml